name: Greetings

on:
  issues:
    types:
      - opened
jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - uses: actions/checkout@v3
    - name: Comment on issue
      run: |
          echo "Thank you for raising an issue. 
          We will investigate into the matter and get back to you as soon as possible.
          Please make sure you have given us as much context as possible." > comment.md
          gh issue comment ${{ github.event.issue.number }} --body-file=comment.md
          gh issue close ${{ github.event.issue.number }}
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
